.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 0;
    background-color: #1a1c1e;
    text-transform: capitalize;
    text-align: center;
    
}

.card h2,
h6,
p {
    margin: 5px 0 10px 0;
    padding: 0 5% 0 5%;
}

.card h6 {
    font-size: 15px;
}


.card img {
    border-radius: 8px 8px 0 0;
    width: 250px;
    height: 200px;
}

.comprar {
    width: 50%;
    cursor: pointer;
    margin-bottom: 5%;
}