@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;600&family=Kanit:wght@600&family=Montserrat:wght@300&family=Oswald:wght@500;700&display=swap');

html {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 15vh;
}

header button {
  border-radius: 8px;
  width: 15vh;
  height: 40px;
  font-size: 20px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  gap: 25px;

}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  height: 50vh;
}

.card-grid h6 {
  font-size: 14px;
}

.card-times {
  display: flex;
  flex-direction: row;
  width: 100vw;
  gap: 32px;
  overflow-x: auto;
}

.card-times h2 {
  text-transform: capitalize;
}

.card-grid h2 {
  text-transform: uppercase;
  font-size: medium;
}

.container .button {
  background-color: #0275d8;
  color: white;
  font-weight: bold;
  position: fixed;
  bottom: 16px;
  right: 24px;
  transition: all 0.1s linear 0.1s;
}

.container .button:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 7px 0px;
  transform: scale(1.1);
  filter: blur(1px);

}

.header {
  display: flex;
  flex-direction: row;
  width: 90vw;
  justify-content: space-between;
}

.sair {
  float: right;
}

section {
  width: 70vh;
  height: 70vh;
  background-color: rgba(30, 30, 30, 0.994);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  border-radius: 25px;
}

section h1 {
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 700;
  
}

.section-inputs {
  gap: 15px;
  padding: 70px;
  width: 60vh;
  height: 55vh;
  padding: 3%;
}

.section-inputs input {
  width: 70%;
  height: 6vh;
  font-size: 20px;
  border: 0;
  border-radius: 16px;
  padding: 1%;
}

.login{
  background-color: #0275d8;
  color: white;
  font-weight: bold;
  width: 50%;
  height: 6vh;
  border-radius: 32px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    gap: 16px;

  }

  header {
    width: 20vh;
  }

  .card-times {
    width: 60vh;
  }

  .card-grid {
    grid-template-columns: 1fr 1fr;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .container button {
    width: 15vw;
  }

  header button {
    width: 45vh;
    height: 40px;
  }

  section {
    width: 50vh;
    height: 50vh;
  }

  section h1 {
    font-size: 30px;
  }

  .section-inputs {
    padding: 30px;
  }
}

@media (max-width: 480px) {
  .card-grid {
    grid-template-columns: 1fr;
  }

  .card-times {
    width: 40vh;
  }

  .container .button {
    bottom: 8px;
    right: 8px;
    width: 15vw;
    text-align: center;
  }

  .container button {
    width: 15vh;
  }

  section {
    width: 40vh;
    height: 40vh;
  }

  section h1 {
    font-size: 28px;
  }

  .section-inputs {
    padding: 0px;
  }

}