.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    
  }
  
  .card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
  }
  
  .card-times {
    display: flex;
    flex-direction: row;
    gap: 32px;
    overflow-x: auto; /* Adiciona a propriedade overflow-x para permitir rolagem horizontal */
  }
  
  .container button {
    background-color: #0275d8;
    color: white;
    font-weight: bold;
    position: fixed;
    bottom: 16px;
    right: 24px;
    transition: all 0.1s linear 0.1s;
  }
  
  .container button:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 7px 0px;
    transform: scale(1.1);
  }

  #pesquisa {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: .8rem;
    margin: 0 auto;
    padding: .35rem .7rem;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 40%;
    display: block;
    border-bottom: 0.1rem solid transparent;
    transition: all 0.3s;
    box-sizing: border-box;
  }
  
  .form_button{
    width: 100px;
    height: 100px;
  }
  /* Adicione regras de mídia para tornar o layout responsivo */
  
  @media (max-width: 768px) {
    .card-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 480px) {
    .card-grid {
      grid-template-columns: 1fr;
    }
    
    .card-times {
      flex-direction: column;
      gap: 16px;
    }
    
    .container button {
      bottom: 8px;
      right: 8px;
    }
  }
  